{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="posts">
    <div class="post-content">
        <div class="post-title">
            <h3>Add a Category</h3>
            {{ form.media }}
            <form method="post" action="{{ post.id }}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Add Category</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

