{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="container">
        <h1 class="fw-bolder">{{cats}} Category</h1>
    </div>
    <hr>
    <!----------------------------- Main Site Section ------------------------------->
    <main>
        <section class="container">
            <div class="site-content">
                <div class="posts row">
                    {% if category_post %}
                        {% for obj in category_post %}
                        <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="{{obj.thumbnail.url}}" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Posted on {{obj.date|timesince}} ago by {{obj.author}}</span>
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{obj.date}}</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="{{obj.get_absolute_url}}">{{obj.title}}</a>
                                <p>{{obj.description}}</p>
                                <a href="{{obj.get_absolute_url}}" class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <h2>There are no posts yet</h2>
                    {% endif %}
                    <hr>
                    <!-- Pagination-->
                    {% if queryset.has_other_pages %}
                    <div>
                        <ul class="pagination flex-row">
                            {% if queryset.has_previous %}
                                <li><a href="?{{page_request_var}}={{queryset.previous_page_number}}"><i class="fas fa-chevron-left"></i></a></li>
                            {% else %}
                                <li class="disabled"><i class="fas fa-chevron-left"></i></li>
                            {% endif %}
                            {% for i in queryset.paginator.page_range %}
                                {% if queryset.number == i %}
                                <li class="active"><a class="pages">{{ i }}<span class="sr-only">(current)</span></a></a></li>
                                {% else %}
                                    <li><a href="?{{page_request_var}}={{ i }}" class="pages">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if queryset.has_next %}
                                <li><a href="?{{page_request_var}}={{queryset.next_page_number}}"><i class="fas fa-chevron-right"></i></a></li>
                            {% else %}
                                <li class="disabled"><i class="fas fa-chevron-right"></i></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <aside class="sidebar">
                    <div class="category">
                        <h2>Category</h2>
                        <ul class="category-list">
                            {% for cat in categories %}
                            <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                                <a href="{% url 'category' cat %}">{{cat}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="popular-post">
                        <h2>Popular Post</h2>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/m-blog-1.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;June 14, 2021</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording the fun? it's the woman who are making India an alcohol-loving</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/m-blog-2.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;June 14, 2021</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording the fun? it's the woman who are making India an alcohol-loving</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="400">
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/m-blog-3.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;June 14, 2021</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording the fun? it's the woman who are making India an alcohol-loving</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="500">
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/m-blog-4.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;June 14, 2021</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording the fun? it's the woman who are making India an alcohol-loving</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/m-blog-5.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;June 14, 2021</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording the fun? it's the woman who are making India an alcohol-loving</a>
                            </div>
                        </div>
                    </div>
                    <div class="newsletter" data-aos="fade-up" data-aos-delay="100">
                        <h2>Newsletter</h2>
                        <div class="form-element">
                            <input type="text" class="input-element" placeholder="Email">
                            <button class="btn form-btn">Subscribe</button>
                        </div>
                    </div>
                    <div class="popular-tags">
                        <h2>Popular Tags</h2>
                        <div class="tags flex-row">
                            <span class="tag" data-aos="flip-up" data-aos-delay="100">Software</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="200">Technology</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="300">Shopping</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="400">travel</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="500">python</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="600">coding</span>
                            <span class="tag">dimas</span>
                        </div>
                    </div>
                </aside>
            </div>
        </section>

        <!-------x------- Site Content ---------x------->

    </main>

    <!------------x---------------- Main Site Section ------------------x------------>

</body>

{% endblock content %}