{% extends 'base.html' %}
{% load static %}
{% block content %}

<body xmlns="http://www.w3.org/1999/html">

    <!----------------------------- Main Site Section ------------------------------->
    <main>
        <!--------------- Site Content ----------------->
        <section class="container">
            <div class="site-content">
                <div class="posts">
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="{{post.thumbnail.url}}" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Posted on {{post.date|timesince}} ago by {{post.author.user.username}}</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{post.date}}</span>
                                <span>
                                    <a href="{% url 'post_update' post_id=post.id %}">Update &nbsp;</a>
                                    <a href="{% url 'post_delete' post_id=post.id %}">&nbsp;Delete</a>
                                </span>
                            </div>
                        </div>
                        <div class="post-title">
                               <a>{{post.title}}</a>
                               <p>{{post.content|safe}}</p>
                        </div>
                    </div>
                    <hr>
                    {% if request.user.is_authenticated %}
                    <div class="card my-4">
                        <h3 class="card-header">Leave a Comment:</h3>
                        <div class="card-body">
                            <!-- Comment form-->
                            <form method="post" action=".">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{form}}
                                </div>
                                <button type="submit" class="btn form-btn">Submit</button>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-primary">Login to Comment</a>
                    {% endif %}

                {% for comment in post.get_comments %}
                <!------------ Single Comment ---------------->
                <div class="media mb-4">
                    {% if comment.user.author %}
                    <img src="d-flex mr-3 rounded-circle" src="{{comment.user.author.profile_pic.url}}" alt="">
                    {% else %}
                    <img src="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    {% endif %}
                        <div class="media-body">
                            <h4 class="mt-0">by {{ comment.user.username }} <br> {{ comment.date }}</h4>
                            <h class="mt-0">{{ comment.content }}</h>

                        </div>
                    </div>
                {% endfor %}
            </div>

    <!------x-------- Site Content ----------x------>
                <aside class="sidebar">
                   <div class="category">
                        <h2>Category</h2>
                        <ul class="category-list">
                            {% for cat in categories %}
                            <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                                <a href="{% url 'category' cat %}">{{cat}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="popular-post">
                        <h2>Popular Post</h2>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/m-blog-1.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;June 14, 2021</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording the fun? it's the woman who are making India an alcohol-loving</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/m-blog-2.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;June 14, 2021</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording the fun? it's the woman who are making India an alcohol-loving</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="400">
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/m-blog-3.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;June 14, 2021</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording the fun? it's the woman who are making India an alcohol-loving</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="500">
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/m-blog-4.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;June 14, 2021</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording the fun? it's the woman who are making India an alcohol-loving</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/m-blog-5.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;June 14, 2021</span>
                                    <span>2 Comments</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording the fun? it's the woman who are making India an alcohol-loving</a>
                            </div>
                        </div>
                    </div>
                    <div class="newsletter" data-aos="fade-up" data-aos-delay="100">
                        <h2>Newsletter</h2>
                        <div class="form-element">
                            <input type="text" class="input-element" placeholder="Email">
                            <button class="btn form-btn">Subscribe</button>
                        </div>
                    </div>
                    <div class="popular-tags">
                        <h2>Popular Tags</h2>
                        <div class="tags flex-row">
                            <span class="tag" data-aos="flip-up" data-aos-delay="100">Software</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="200">Technology</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="300">Shopping</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="400">travel</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="500">python</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="600">coding</span>
                            <span class="tag">dimas</span>
                        </div>
                    </div>
                </aside>
            </div>
        </section>

        <!-------x------- Site Content ---------x------->



    </main>

    <!------------x---------------- Main Site Section ------------------x------------>


</body>

{% endblock content %}