{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <main>
        <h2>Hasil Pencarian</h2>
        <div class="posts">
                    <div class="post-content">
                        <div class="post-title">
                        {% for result in queryset %}
                            <a href="{{ result.get_absolute_url }}">{{ result.title }}</a>
                        <br>
                        {% endfor %}
                        </div>
                    </div>
        </div>
    </main>
</body>

{% endblock content %}